@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html, body {
    overflow: hidden; /* Hide scrollbars */
    background-color: white;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
}

.google-login-icon:before {
    background-repeat: no-repeat;
    background-image: url('image/google.svg');
}

.google-login-icon {
    display: flex;
    text-align: center;
    width: 250px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

.google-login-icon:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
}

.logins {
    width: 300px;
}